.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#f97, #f7a);
    width: 150px;
    height: 100vh;
    box-shadow: grey 0px 0px 10px;
}

.nav-dash-post{
    display: flex;
    flex-direction: column;

}

.nav-pic{
    width: 100px;
    height: 100px;
    margin: 25px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px;
}